{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center login-container">
    <div class="card shadow login-card">
        <div class="card-header bg-primary text-white text-center">
            <h4>Iniciar Sesión</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }} 
                </div>
                {% endfor %}

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}